<p id="notice"><%= notice %></p>

<h1>Bookmarks</h1>

<hr>

<form id="new-bookmark-form" style="display: flex; align-items: center; justify-content: space-around;">
  <h3>Add new bookmark:</h3>

  <label for="name">Name:</label>
  <input type="text" name="name" id="name">

  <label for="url">URL:</label>
  <input type="text" name="url" id="url">
  
  <label for="category-id">Category:</label>
  <select name="category-id" id="category-id">
    <option value="" selected>Select a category</option>
    <%= @categories.each do |category| %>
      <option value="<%= category.id %>"><%= category.name %></option>
    <% end %>
  </select>


  <label for="type-id">Type:</label>
  <select name="type-id" id="type-id">
    <option value="" selected>Select a type</option>
    <%= @types.each do |type| %>
      <option value="<%= type.id %>"><%= type.name %></option>
    <% end %>
  </select>

  <button type="submit">Add</button>
</form>

<hr>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>URL</th>
      <th>Type</th>
      <th>Category</th>
    </tr>
  </thead>

  <tbody id="table-body"></tbody>
</table>

<br>

